.card{
    width: 18rem;
}

.bg{
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
}

.table-navy{
    background-color: rgba(41, 57, 93, 0.164);
}


.navbar-navy{
    background-color: rgb(43, 51, 68);;
}

